$primary-color: rgb(189, 155, 217);
$secondary-color: rgb(252, 171, 0);
$tertiary-color: rgb(30, 28, 26);
$quaternary-color: rgb(219, 215, 214);

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(30, 28, 26, 0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(189, 155, 217, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(189, 155, 217, 0.8);
}
